@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-1: rgb(47 128 237 / 100%);
  --gray-2: rgb(79 79 79 / 100%);
  --gray-3: rgb(130 130 130 / 100%);
  --gray-4: rgb(189 189 189 / 100%);
  --gray-5: rgb(224 224 224 / 100%);
  --height-of-loader: 4px;
  --loader-color: #0071e2;
}

* {
  font-family: Poppins, sans-serif;
}

