.title {
  color: var(--gray-2, #4f4f4f);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.63px;
}

.section {
  width: 338px;
  height: 218.903px;
}

.input-link {
  color: var(--gray-2, #4f4f4f);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.28px;
  border-radius: 8px;
  border: 1px solid var(--gray-5, #e0e0e0);
  background: #f6f8fb;
  text-overflow: ellipsis;
  padding: 0.5rem;
}

.btn {
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.42px;
  border-radius: 8px;
  background: var(--blue-1, #2f80ed);
}
