.title {
  color: var(--gray-2, #4f4f4f);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.63px;
}

.sub-title {
  color: var(--gray-3, #828282);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.35px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 12px;
  border: 1px dashed #97bef4;
  background: #f6f8fb;
  width: 338px;
  height: 218.903px;
}

.section-subtitle {
  color: var(--gray-4, #bdbdbd);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.42px;
}

.footer-text {
  color: var(--gray-4, #bdbdbd);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.42px;
}

.btn {
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.42px;
  border-radius: 8px;
  background: var(--blue-1, #2f80ed);
}
